<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony webpack{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('dist/app.css') }}">

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {#<script type="text/javascript" src="{{ asset('dist/vendor.js') }}"></script>#}
        <script type="text/javascript" src="{{ asset('dist/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
        <body>
            <div class="content">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}
            </div>
        </body>
    </body>
</html>
